name: Descarga precio de hoy

on:
  workflow_dispatch:
  schedule:
    - cron: 0 5 * * *
    - cron: 0,30 6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,20 * * *

env:
  TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
  TOKEN_TELEGRAM: ${{ secrets.TOKEN_TELEGRAM }}
  #SHELL
  FUEL_STATION_ID_1: 6433
  #MURO
  FUEL_STATION_ID_2: 13171
  #BALLENOIL
  FUEL_STATION_ID_3: 12800
  #REPSOL
  FUEL_STATION_ID_4: 7159
  #BP
  FUEL_STATION_ID_5: 13779


jobs:
  downloadStatus:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js version 16.x
      uses: actions/setup-node@v1
      with:
        node-version: 16.x
    - run: npm install
    - run: npm run download-today
    - name: Add prices
      id: auto-commit-action
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: 'Add report for today'
    - name: "Envio diario de lista completa de precios 7:00 a Telegram"
      if: steps.auto-commit-action.outputs.changes_detected == 'true' && github.event.schedule != '0,30 6,7,8,9,10,11,12,13,14,15,16,17,18,19,20 * * *'
      run: npm run send
    - name: "Envio de cambio de precios, revision cada 30 minutos -> 8:00-22:30 a Telegram"
      if: steps.auto-commit-action.outputs.changes_detected == 'true' && github.event.schedule != '0 5 * * *'
      run: npm run checkpricechange
